@import "/src/styles/variables";

.mc-portfolio-header {
    &-container-absolute {
        position: absolute;
    }

    &-title {
        font-size: 76px;
        text-align: left;
        font-weight: bolder;
        font-family: "Montserrat";
        color: #fff;
        opacity: 1;

        span {
            text-shadow: 10px 8px 0px rgba(0, 0, 0, 5.33);
            transition: 1s ease;
            cursor: pointer;

            &:hover {
                color: $primary-color;
            }
        }

        &-container {
            display: flex;
            overflow: hidden;
            justify-content: center;
            align-items: center;
            white-space: nowrap;
            // background-color: aliceblue;
            width: 100%;
        }
    }

    &-subtitle {
        font-size: 36px;
        text-align: left;
        font-weight: bolder;
        font-family: "Montserrat";
        color: #fff;
    }
}

// Efecto estrellas
.stars-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

.star {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}
